html,body 
{
  background-color: #e2f8d7;
  text-align: center;
}
.forma
{
text-align: center;
justify-content: center;
position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background: #3ecec4;
  color:#fff;
  border-radius: 50px;
}
.button{
  font-size: 30px;
}
